<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iruka.myhealingpet_test">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <!-- 내 프로젝트에 대한 보안 수준 설정. 내 프로젝트의 패키지가 org.androidtown.lbs.map 인 경우 -->
    <permission
        android:name="com.iruka.myhealingpet_test.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- 구글맵 API v2의 권한 설정 -->
    <uses-permission android:name="com.iruka.myhealingpet_test.permission.MAPS_RECEIVE" />

    <!-- 구글맵 API v2의 일반 권한 설정. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- 일반 권한 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- OpenGL 사용 설정 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/pet_icon"
        android:label="@string/app_name">

        <!-- 라이브러리 사용 설정 -->
        <uses-library android:name="com.google.android.maps" />

        <!-- 구글맵 API v2 키 설정 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCikGe-0BHQdBSsMqINp3HfbU4s0mI_1ao" />

        <!-- GMS 라이브러리 버전 설정 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pet_MenuBar"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Pet_Status"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Quest_Main"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".Quest_Gps"
            android:theme="@style/Theme.AppCompat"> </activity>
        <receiver android:name=".Quest_Gps_Alarm"> </receiver>
        <activity android:name=".Quest_Shake"> </activity>
        <activity android:name=".Quest_Call"> </activity>
        <receiver android:name=".Quest_Alarm"> </receiver>
        <service
            android:name=".Pet_Service"
            android:enabled="true"
            android:exported="false"
            android:process=":service"
            > <!-- 퍼미션 중요 -->
            <intent-filter >
                <action android:name="ccom.iruka.myhealingpet_test.CHAT"/>
            </intent-filter>
        </service>
    </application>
</manifest>